#root, body, html {
    margin: 0;
}

* {
    font-family: Montserrat;
}

a {
    text-decoration: none;
}

svg {
    padding: 0;
}

.LoginPage {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2.3rem;
    box-sizing: border-box;
}

.LoginPage form {
    display: flex;
    flex-flow: column;
    width: 100%;
    gap: 1rem;

    /* border: 1px solid white; */
    border-radius: 3rem;
    padding: 2rem 1.3rem;
}

.LoginPage h2 {
    margin: auto;
    padding: 0 0 0.3rem 0;
    color: white;
}

.LoginPage input {
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    box-sizing: border-box;
    font-size: 1.4rem;
    outline: 0;
    border: 0;
}

.LoginPage form .submit-wrap {
    margin: 0 auto;
    padding: 0;
}

.LoginPage form button {
    background-color: transparent;
    border-radius: 2rem;
    font-size: 1.4rem;
    border: 1px solid white;
    /* border: 0; */
    padding: 0.3rem 1rem;
    color: white;
    /* text-decoration: underline; */
    /* padding: 0; */
}

.ContentHeader svg {
    display: flex;
    align-items: center;
}