#root {
    height: 100vh;
    background-color: rgb(75, 99, 237);
    background: linear-gradient(rgb(75, 99, 237), rgb(162, 176, 255));

    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.BaseWrap {
    width: 100vw;
    height: 100vh;
    margin: 0;
    /* background-color: aqua; */
    display: flex;
    flex-flow: column;
    /* background-color: rgb(75, 99, 237); */
}

.ContentWrap {
    flex-grow: 1;
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    /* display: flex; */
    /* flex-flow: column; */
    overflow-y: scroll;
}

.BottomMenuWrap {
    height: 50px;
    width: 100%;
    background-color: rgb(240, 240, 240);
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 5px gray;

    display: flex;
    justify-content: space-around;
    align-items: center;

    z-index: 9999;
}

.icon {
    /* width: 10px;
    height: 10px; */
    padding: 0;
    margin: 0;
    color: rgb(150, 150, 150);
    /* width: 100%; */
}

.selected {
    margin: 0;
    padding: 0;
    /* height: auto; */
    /* height: 100%; */
}

.BottomMenuWrap a {
    margin: 0;
    padding: 0%;
    height: 100%;
    /* margin: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.BottomMenuWrap .bottom-menu-button-label {
    font-size: 0.6rem;
}

.selected * {
    color: rgb(90, 90, 90);
}

.ContentHeader, .ActiveClassPage .class-info-wrap {
    background-color: rgb(75, 99, 237);
    width: 100%;
    height: 50px;

    /* padding: 1rem 0; */

    position: relative;
    z-index: 9999;

}

.ContentHeader {
    display: flex;
    align-items: center;
}

.back-to-class-btn {
    padding-left: 20px;
    color: white;
    font-weight: 800;

    font-size: 1.3rem;
}

.ActiveClassPage .group-list > * {
    padding: 0.5rem 0;
}

.ActiveClassPage .class-info-wrap {
    height: 30%;
    margin-bottom: 10px;

}

.ContentHeader::before, .ActiveClassPage .class-info-wrap:before {
    content: "";
    position: absolute;

    background-color: transparent;
    
    bottom: -50px;
    height: 50px;
    width: 100%;
    border-radius: 25px 25px 0 0;
    box-shadow: 0 -25px 0 0 rgb(75, 99, 237); /* This is where the magic happens! */
    z-index: -999;
    pointer-events: none;
}

.content-header-label {
    color: white;
    font-weight: bold;
    width: 100%;
    height: 100%;
    /* text-align: center; */
    /* vertical-align: middle; */
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    /* z-index: 99999; */
}

.content-header-label span {
}

.DisciplinesPage, .GroupPage, .ActiveClassPage , .ClassHistoryPage {
    /* flex-grow: 10; */
    height: 100%;
    background-color: white;
}

.GroupPage .hidden {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

.GroupPage .all-students-wrap {
    transition: max-height 0.5s ease-out;
    overflow: hidden;
}

.GroupPage .show {
    opacity: 1;
    max-height: 100vh;
}

.GroupPage .all-students-header svg {
    background-color: rgb(75, 99, 237);
    color: white;
    border-radius: 100%;
    padding: 0.2rem;

}

.AssignmentPage .Content {
    /* height:100%; */
}

.Content {
    width: 100%;
    /* height: 100%; */
    flex-grow: 1;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
}

.DisciplineItem {
    width: 100%;
    padding: 15px 5px;
    box-sizing: border-box;
    /* height: 50px; */
}

.DisciplineItem:not(:last-child) {
    border-bottom: 3px solid rgb(75, 99, 237);

}

.DisciplineItem .discipline-name {
    font-weight: 800;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 0.3rem;
}

.DisciplineItem .discipline-name a {
    display: flex;
    align-items: center; 
}

.DisciplineItem > * {
    padding: 5px 0 5px 0;
}

.DisciplineItem .discipline-period {
    font-size: 14px;
}

.assignments-label {
    /* margin-bottom: 0.5rem; */
    padding: 0.8rem 0;
    font-weight: 600;

    color: black;

    border-top: 4px dotted gray;
}

.discipline-groups {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.group {
    padding: 5px;
}

.discipline-assignments {
    width: 100%;
    margin-top: 10px;
}

.discipline-assignments > * > * {
    /* background-color: lightgray; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.1rem;
    box-sizing: border-box;
    padding: 0.5rem 0;

    border-bottom: 1px solid white;
}

.discipline-assignments .assignment-name {
    font-weight: 500;
    max-width: 55%;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    font-size: 1rem;
}

.assignment-name p {
    margin: 0;
}

.discipline-assignments .assignment-deadline {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;

    background-color: red;
    border-radius: 100px;
    padding: 0.2rem 0.9rem;
    box-sizing: border-box;
}

.assignment-deadline .deadline-icon {
    /* margin: auto; */
    display: flex;
    align-items: center;
    color: white;
}

.assignment-deadline .deadline-label {
    color: white;
    font-weight: 600;
}

.fade-appear,
.fade-enter {
opacity: 0;
z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
opacity: 1;
transition: opacity 450ms linear 250ms;
}
.fade-exit {
opacity: 1;
}
.fade-exit.fade-exit-active {
opacity: 0;
transition: opacity 150ms linear;
}

.ContentWrap, .DisciplinePage, .ProfilePage {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
}

.LoginPage, .HomePage, .ProfilePage {
    height: 100%;
}

.HomePage {
    /* padding: 1.4rem 20px;
    box-sizing: border-box;

    display: flex;
    flex-flow: column;
    gap: 10px; */
}

.home-active-class-btn {
    width: 100%;
    background-color: orange;
    color: white;
    border: 0;
    border-radius: 50rem;

    text-align: left;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
}

.HomePage .content-section-wrap {
    padding: 1.4rem 20px;
    box-sizing: border-box;

    display: flex;
    flex-flow: column;
    gap: 10px;
}

.content-section-content > svg {
    padding: 0 40%;
}

.ContentSectionWrap {
    background-color: white;
    /* height:; */
    width: 100%;

    border-radius: 15px;

    padding: 1rem;
    box-sizing: border-box;
}

.ContentSectionWrap .home-discipline-item:hover {
    background-color: lightblue;
}

.ContentSectionWrap .home-content-header, .active-class-group-list-wrap .group-list-label, .all-students-header {
    border-bottom: 1px solid gray;
    padding-bottom: 5px;

    font-weight: 600;
    color:rgb(75, 99, 237);

    display: flex;
    justify-content: space-between;
}

.all-students-header {
    padding-top: 1rem;
    /* padding: */
    /* align-items: flex-start; */
}

.all-students-wrap {
    padding: 0;
    /* padding-top: 1rem; */
}

.all-students-wrap li {
    padding: 0.9rem 0;
    font-size: 1rem;
    height: 2rem;

    border-bottom: 1px solid lightgray;
}

.all-students-wrap li:last-child {
    border: 0;
}

.active-class-group-list-wrap .group-list-label {
    margin-bottom: 10px;
}

.ContentSectionWrap .home-documents {
    border: 0;
    padding-bottom: 0;
}

.ContentSectionWrap .home-content-header-button {
    display: flex;
    align-items: center;
    justify-content: center;
}


.ContentSectionWrap .content-section-content {
    padding-top: 0.4rem;
    box-sizing: border-box;
    font-size: 1rem;
    color: gray;
}

.ContentSectionWrap .home-discipline-item, .ContentSectionWrap .assignment-item {
    padding: 0.6rem 0;
    box-sizing: border-box;
    font-size: 16px;

    border-bottom: 1px solid gray;
}

.ContentSectionWrap .home-discipline-item:last-child, .ContentSectionWrap .content-section-navlink:last-child .assignment-item {
    border: 0;
}

.ContentSectionWrap .home-discipline-item  > * {
    padding-bottom: 5px;
}

.ContentSectionWrap .home-discipline-item .home-discipline-item-discipline {
    font-weight: 800;
    font-size: 1.2rem;
    color:rgb(0, 0, 0);
    padding-top: 0.4rem;
}

.ContentSectionWrap .home-discipline-item-time {
    font-size: 1.5rem;
    font-weight: 700;
    background-color: rgb(255, 137, 53);

    width: min-content;

    padding: 0.2rem 0.6rem;
    color: white;
    border-radius: 2rem;
}

.ContentSectionWrap .home-discipline-item-groups {
    padding-top: 0.3rem;
    color:rgb(75, 99, 237);
}

.assignment-item-info {
    color: black;
    font-weight: 600;
    padding: 0.2rem 0;
    overflow-wrap: normal;
}

.assignment-item-name {
    font-size: 1.2rem;
    font-weight: 700;
}

.assignment-item {

}

.ContentSectionWrap .assignment-item-description {
    /* font-size: 0.9rem; */
    padding: 0.2rem 0;
}
/* .ContentSectionWrap .home-discipline-item-header > * {
    
} */

.ProfilePage {
    background-color: white;
    padding: 15px;
    box-sizing: border-box;
}

.ProfilePage .user-name-wrap {
    padding: 15px 0;
    border-bottom: 1px solid gray;

    font-weight: 600;
    font-size: 1.4rem;
}

.ProfilePage .menu-wrap {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ProfilePage .menu-wrap * {
    padding: 20px 0;
    box-sizing: content-box;
    text-decoration: none;
}

.ProfilePage .menu-wrap > *:hover {
    background-color: gainsboro;
}

.student-group-item {
    /* background-color: antiquewhite; */
    padding: 5px 10px;
    border-radius: 2rem;
    color: white;
}

.SchedulePage, .GroupPage, .page-wrap {
    /* padding: 10px; */
    height: 100%;

    display: flex;
    flex-flow: column;
}

.SchedulePage .schedule-header, .GroupPage .schedule-header {
    color: white;
    font-weight: 600;
    padding-bottom: 10px;

    padding: 10px 10px;
}

.SchedulePage .schedule-content, .GroupPage .schedule-content {
    display: flex;
    flex-flow: column;
    gap: 5px;

    padding: 10px;
    box-sizing: border-box;
    flex-grow: 1;
    /* height: 100%; */
}

.SchedulePage {
    padding: 0;
}

.SchedulePage .schedule-content {
    padding: 1rem 0rem 10px;
}

.SchedulePage .schedule-week-item {
    padding: 0 0 0 10px;
    /* background-color: white; */
    flex-grow: 1;

    display: flex;

    /* border-radius: 20px; */
}

.SchedulePage .week-label {
    padding: 0 0.4rem 0 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    width: 2rem;

    /* color:rgb(75, 99, 237); */
    color: white;
    /* background-color: aquamarine; */
}

.schedule-week-item {
    /* background-color: gainsboro; */
    /* box-shadow: inset -319px 0 5px gray; */
}

.SchedulePage .week-label-today {
    background-color: rgb(255, 137, 53);
    /* border: 4px solid rgb(255, 137, 53); */
    box-sizing: border-box;
    /* box-shadow: inset 0 0 0 5px rgb(255, 137, 53); */
    
}

.SchedulePage .week-label-date {
    font-weight: 800;
}

.SchedulePage .week-item-content {
    /* padding: 10px; */
    display: flex;
    width: 100%;

    position: relative;
}

.SchedulePage .week-item-content > *:nth-child(even) {
    background-color: rgb(75, 99, 237);
    color: white;
}

.SchedulePage .week-item-content > *:nth-child(odd) {
    background-color: white;
    color: black;
}


.SchedulePage select {
    background-color: transparent;
    font-family: Montserrat;
    color: white;
    border: 0;
    font-size: 1.2rem;
    font-weight: 600;
}

.SchedulePage option {
    color: black;
}

.SchedulePage select:focus {
    border:0;
    outline: 0;
}

.SchedulePage .ScheduleWeekClass {
    background-color: rgb(255, 188, 33);
    border-radius: 1rem 0 0 1rem;
    width: 100%;
    height: 100%;

    padding: 0.9rem;
    font-size: 1.3rem;
    box-sizing: border-box;

    color: white;
    font-weight: 600;

    position: absolute;

    /* z-index: 9999; */
    right: 0;
}

.ScheduleWeekClass, .class-hidden, .left, .right {
    transition: width 0.5s ease-in;
}

.SchedulePage .class-hidden {
    width: min-content;
    /* text-overflow: clip; */
    text-align: center;
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

.SchedulePage .class-hidden .class-content-wrap > *:not(:first-child) {
    display: none;
}

.SchedulePage .ScheduleWeekClass .class-name {
    font-size: 0.9rem;
    font-weight: lighter;
}

.SchedulePage .left {
    width: 100%;
}

.SchedulePage .right {
    /* right: 0; */
}

.ActiveClassPage {
    box-sizing: border-box;    
    /* padding: 0.3rem; */
    /* background-color: transparent; */

    display: flex;
    flex-flow: column;

}

.ActiveClassPage .class-info-wrap, .ActiveClassPage .class-info-wrap:before {

    box-sizing: border-box;
}

.ActiveClassPage .class-info-wrap {
    /* padding: 15px 15px 0 15px; */
    box-sizing: border-box;
}

.ActiveClassPage .class-duration {
    display: flex;
    justify-content: center;

    color: white;
    font-weight: 600;
    font-size: 1.6rem;

    padding: 0.9rem 0;
}

.ActiveClassPage .timer {
    width: min-content;
}

.ActiveClassPage .group-info-wrap {
    background-color: white;

    z-index: 999999;

    height: 70%;
    /* padding: 1.5rem; */
}

.ActiveClassPage .active-class-save {
    padding: 0.5rem 0.7rem;
    border: 0;
    border-radius: 100rem;
    color: rgb(75, 99, 237);

    background-color: transparent;
    width: 100%;

    /* margin: auto; */

    font-weight: 600;
    font-size: 1.1rem;
}

.ActiveClassPage .active-class-btns {
    box-sizing: border-box;
    padding: 0.5rem 1rem;

    /* display: flex; */
    /* justify-content: center; */
}

.ActiveClassPage .active-class-actions {
    display: flex;
    flex-flow: column;
    background-color: white;

    box-sizing: border-box;

    /* height: 80%; */
    overflow: scroll;
    flex-grow: 2;

    justify-content: space-between;

    border-radius: 30px 30px 0 0;
    padding: 0.5rem 0rem 0;
    
}

.ActiveClassPage .group-info-wrap {
    height: 98%;
    overflow: scroll;

    
}

.ActiveClassPage .active-class-btns {
    /* background-color: rgb(179, 179, 179); */
    border-top: 4px dotted rgb(75, 99, 237);
    font-weight: 600;
}

.active-class-group-list-wrap {
    padding: 1rem;
}

.active-class-group-list-wrap .group-list > * {
    margin-bottom: 0.4rem;

    border-radius: 10px;

    padding: 0.5rem 0.4rem;
}

.class-info-detail-wrap {
    height: 100%;
    display: flex;
    flex-flow: column;

    gap: 1.6rem;
    /* justify-content: space-between; */
}

.class-name-wrap, .class-date-place-wrap {
    color: white;
    font-weight: 600;

    padding: 0 1rem;
    box-sizing: border-box;
}

.class-date-place-wrap {
    font-weight: 300;
    padding-bottom: 10px;
}

.class-name-wrap .class-name-label {
    font-weight: 300;
}

.NewTaskPopup, .SaveClassPopup {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);

    z-index: 9999999;
    display: flex;
    justify-content: center;
    align-items: center;

    /* display: inherit; */
}

.SaveClassPopup .save-class-btns {
    display: flex;
    justify-content: center;
    width: 100%;
}

.SaveClassPopup .save-class-btns > * {
    flex-grow: 1;
}

.SaveClassPopup textarea {
    margin:  0;
    width: 100%;
    height: 8rem;
    font-size: 1.3rem;
    padding: 1rem;
    box-sizing: border-box;
}

/* .NewTaskPopup * {
    display: inherit;
} */

.NewTaskPopup .new-task-wrap, .SaveClassPopup .save-class-wrap {
    width: 80%;
    /* height: 50%; */
    background-color: white;

    border-radius: 1rem;
    padding: 1.2rem;
    box-sizing: border-box;

    z-index: 9999;
}

h3 {
    margin: 0;
    padding: 0;
}

.save-class-wrap textarea {
    font-size: 1rem;
}

.NewTaskPopup .new-task-form {
    display: flex;
    flex-flow: column;
    gap: 1rem;

    font-size: 1.9rem;
    padding: 0;
}

.NewTaskPopup >  * > * > * {
    font-size: 1.1rem;
    padding: 0.5rem 0.7rem;
    box-sizing: border-box;
}

.btn-wrap {
    width: 100%;
    display: flex;
    padding: 0;
}

.btn-wrap > * {
    flex-grow: 1;
    width: 50%;
    /* padding: 0; */
}

.NewTaskPopup h3 {
    margin: 0;
    margin-bottom: 1rem;
} 

.GroupPage .all-students-wrap, .GroupPage li, .AssignmentPage li {
    list-style: none;
    /* margin: 0; */
}

.GroupPage .student-list-header-wrap {
    display: flex;
    justify-content: space-between;
}

.GroupPage .student-list-wrap {
    margin: 0;
    padding: 1rem;
    padding-top: 0;
    box-sizing: border-box;
}

/* .Content ul {
    padding: 0 1rem;
} */

.AssignmentPage .Content ul {
    padding: 0;
}

.AssignmentPage .submitted-assignment-popup form {
    display: flex;
    flex-flow: column;
    gap: 1rem;

}

.AssignmentPage .submitted-assignment-popup :is(input, textarea) {
    font-size: 1rem;
    padding: 0.4rem;

    border-radius: 5px;
}

dialog::backdrop {
    background: rgba(65, 65, 65, 0.25);
  }

.AssignmentPage .submitted-assignment-popup {
    border-radius: 15px;
    border: 0;
}

.AssignmentPage .submitted-assignment-popup textarea {
    height: 4rem;
}

.AssignmentPage p {
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
}

.AssignmentPage dialog {
    width: 70%;
}

.btn-wrap {
    gap: 1rem;
}

.AssignmentPage button, .NewTaskPopup button, .ActiveClassPage .btn-wrap button, .ActiveClassPage .SaveClassPopup button {
    padding: 0.4rem 0.2rem;
    font-size: 1rem;

    border: 0;
    border-radius: 10rem;

    background-color: rgb(75, 99, 237);
    color: white;
    font-weight: 600;
}

.react-select-container {
    padding: 0;
}

.absent {
    background-color: red;
    box-shadow: 0 0 7px red;

    color: white;
}

.ClassHistoryItem {
    display: flex;
    justify-content: space-between;
    width: 100%;

    padding: 1rem;
    box-sizing: border-box;
}

.ClassHistoryItem .item-left {
    /* flex-grow: 3; */
    width: 90%;
}

.ClassHistoryItem .item-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    /* flex-grow: 1; */
    /* height: 100%; */
}

.ClassHistoryItem:not(:last-child) {
    border-bottom: 1px solid gray;
}

.ClassHistoryItem .group {
    padding: 0;
    font-size: 1rem;
}

.ClassHistoryItem .discipline {
    font-weight: 800;
}

.ClassHistoryItem .date-place {
    font-size: 1rem;
}

.AssignmentPage {
    height: 100%;
}

.AssignmentPage .Content {
    /* height: max-content; */
    padding: 1.2rem 1.4rem;
    box-sizing: border-box;
}

.AssignmentPage .assignment-name {
    font-weight: 800;
    font-size: 1.2rem;
    padding: 0.2rem 0;
}

.AssignmentPage .assignment-desc {
    font-size: 0.9rem;
}

.AssignmentPage .assignment-name-desc-wrap {
    /* background-color: lightgray; */
    padding: 0.8rem;
    border-radius: 15px;

    border: 5px dotted rgb(75, 99, 237);
}

.AssignmentPage .assignment-info-wrap > * {
    margin-bottom: 0.9rem;
}

.AssignmentPage .assignment-info-footer {
    font-size: 0.9rem;

}

.AssignmentPage .assignment-info-footer > *:not(:last-child) {
    margin-bottom: 0.5rem;
}

.AssignmentPage .assignment-discipline {
    font-weight: 700;
}

.AssignmentPage .student-assignment-item {
    padding: 0.7rem 0.5rem;

    display: flex;
    justify-content: space-between;

    height: 2rem;

    border-bottom: 1px solid lightgray;
    /* background-color: red; */
}

.AssignmentPage .student-assignment-item .student-name {
    font-size: 1.0rem;
    max-width: 90%;
}

.AssignmentPage .student-assignment-item .student-grade {
    color: red;
    font-weight: 600;
}

.AssignmentPage .submitted .student-grade {
    /* background-color: transparent; */
    color: black;
    
}

.DocumentPage .header-wrap, .DocGenPage .header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;  
    border-bottom: 2px solid rgb(75, 99, 237);

    font-weight: 600;
}

.DocumentPage .info-wrap .details {
    max-width: 75%;
}

.DocumentPage {
    background-color: white;
    /* padding: 1rem; */
    box-sizing: border-box;
}

.DocumentPage .header-label {
    width: 100%;
}

.DocumentPage .content {
    overflow: scroll;
}

.DocGenPage {
    background-color: white;
    /* padding: 1rem; */
    box-sizing: border-box;
}

.DocumentPage .new-doc-wrap {
    color: rgb(75, 99, 237);
}

.DocGenPage .header-wrap {
    /* border-bottom: 2px solid rgb(75, 99, 237); */
    justify-content: flex-start;
    gap: 1rem;
}

.DocGenPage .react-select-container > * {
    font-size: 1.1rem;
}

.header-wrap .back-btn-wrap > *, .DocumentPage .new-doc-wrap {
    display: flex;
    align-items: center;
}

.step-wrap, .content-form {
    display: flex;
    flex-flow: column;
}

.step-wrap select {
    padding: 0.4rem 0.4rem;
    font-size: 1.0rem;

    border-radius: 15px;
}

.step-wrap label {
    background-color: rgb(75, 99, 237);
    border-radius: 1rem;
    padding: 0.3rem 0.9rem;
    width: max-content;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

.content-form {
    gap: 1.5rem;
    padding: 1rem;
    box-sizing: border-box;

    align-items: center;
}

.step-wrap {
    padding: 1rem;
    box-sizing: border-box;
    gap: 0.5rem;
    width: 100%;

    border-radius: 1rem;
    box-shadow: 0px 0px 5px 1px rgb(175, 175, 175);
}

.doc-submit-btn {
    width: 50%;
    padding: 0.7rem 1rem;
    border-radius: 1.5rem;
    border: 0;
    background-color: rgb(75, 99, 237);
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
}

.doc-wrap {
    display: flex;
    justify-content: space-between;

    padding: 1rem;
}

.doc-wrap .header {
    font-weight: 600;

    padding: 0.5rem 0;
}

.doc-wrap .details {
    font-size: 1rem;
}

.doc-wrap .icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.doc-wrap:not(:last-child) {
    border-bottom: 1px solid gray;
}

.doc-wrap .icon-wrap * {
    background-color: rgb(75, 99, 237);
    padding: 0.5rem;
    border-radius: 100%;
    color: white;
}

.SettingsPage {
    height: 100%;
    background-color: white;
}

.SettingsPage .notif-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 1.3rem;
    box-sizing: border-box;
}

.settings-header {
    padding: 1.3rem;
    background-color: gray;
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
}
